@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x:hidden;
}
.bannerBgImage{
    height: 100vh;
    background: url("images/bannerimage.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle{
    font-size: 4rem;
    font-family: cursive;
}

.bannerDesc{
    font-size: 4rem;
    font-family: cursive;
}
.col-md-8{
    font-size: 1.15rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-t
{
    font-size: 3rem;
    text-align:center;
    
}
.text-differ{
    font-size:55px;
    text-align:center;
}

.card{
    cursor:pointer;
}

.card:hover{
    background-color: rgb(190, 91, 124);
    border: 2px solid rgb(159, 192, 92);
}

.bIcon{
    width:100%;
    text-align: center;
    font-size: 40px;
}
.img-fluid:hover{
    border: 2px solid rgb(176, 224, 80);
}

.card-img-top{
    height: 50vh;
}